  .c-information {
  width: 100%;
  height: 100%;
  visibility: hidden;
  line-height: 2;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
  transition: 0.5s;
  &.is-viewed {
    visibility: visible;
    opacity: 1;
  }
  &__wrap {
    max-width: 980px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 100px 40px;
  }
  &__header {
    line-height: 1.1;
    margin: 0 0 10px;
    padding-left: 10px;
    font-size: 42px;
    text-align: center;
    letter-spacing: 10px;
  }
  &__sub-header {
    line-height: 1.1;
    margin: 0 0 30px;
    padding-left: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 5px;
  }
  &__summary {
    text-align: center;
    font-family: $read-font;
  }
  &__about {
    font-family: $read-font;
    letter-spacing: 2px;
  }
  &__about-header {
    margin-top: 60px;
    font-size: 24px;
  }
  &__share {
    margin: 100px 0 0;
    text-align: center;
    &-item {
      display: inline-block;
      margin: 0 10px;
      a {
        @include btn(25px);
        background-position: center center;
        background-repeat: no-repeat;
      }
      &--facebook {
        a {
          background-image: url('../img/common/icon-facebook.png');
          background-size: auto 18px;
          &:hover {
            background-image: url('../img/common/icon-facebook-on.png');
          }
        }
      }
      &--twitter {
        a {
          background-image: url('../img/common/icon-twitter.png');
          background-size: auto 16px;
          &:hover {
            background-image: url('../img/common/icon-twitter-on.png');
          }
        }
      }
    }
    &-text {
      display: none;
    }
  }
  &__credit {
    margin: 30px 0 0;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
  }
}
