.c-information-btn {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  display: block;
  line-height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  z-index: 3;
  &__wrap {
    @include btn(15px);
    padding-left: 1px;
    &:before {
      z-index: -1;
    }
  }
}
