.c-introduction {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  &__wrap {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
  }
  &__header {
    margin: 0;
    padding-left: 16px;
    font-size: 56px;
    letter-spacing: 16px;
    text-align: center;
    perspective: 1000px;
  }
  &__text {
    display: inline-block;
    opacity: 0;
    transform-origin: center 0px;
    transform: translateY(1em) rotate3d(1, 0, 0, 80deg);
    transition: 1s;
    &.is-viewed {
      opacity: 1;
      transform: rotate3d(1, 0, 0, 0deg);
    }
    &.is-hidden {
      opacity: 0;
      transform: translateY(-0.1em) rotate3d(1, 0, 0, -80deg);
    }
    &--01 { -webkit-transition-delay: 0; }
    &--02 { -webkit-transition-delay: 0.2s; }
    &--03 { -webkit-transition-delay: 0.4s; }
    &--04 { -webkit-transition-delay: 0.6s; }
    &--05 { -webkit-transition-delay: 0.8s; }
  }
  &__loader {
    width: 50px;
    height: 50px;
    opacity: 0;
    margin: 10px auto;
    animation-name: preloader;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: 1.5s;
    &.is-viewed {
      opacity: 1;
    }
  }
  &__counter {
    opacity: 0;
    text-align: center;
    transition: 1.5s;
    transition-delay: 0.25s;
    &.is-viewed {
      opacity: 1;
    }
    &-num {
      padding: 0 0.5em;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    transition: 4s;
    &.is-transparent {
      opacity: 0;
    }
  }
}
@keyframes preloader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
