.c-summary {
  position: absolute;
  left: 30px;
  bottom: 25px;
  &__header {
    margin: 0 0 5px;
    font-size: 42px;
    letter-spacing: 10px;
  }
  &__paragraph {
    line-height: 1.5;
    margin: 0;
    letter-spacing: 3px;
  }
}
