doctype html
html(lang="ja")
  head
    title learn WebGL
    link(rel="stylesheet" href="css/main.css")
  body
    h1 IMAGO
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js")
    script(src="js/main.js")
